---
import Layout from "../layouts/Layout.astro";
import { getAllPosts } from "../lib/api.js";

const entries = await getAllPosts();

const description: string = "サンプルブログのトップページです。";
const url: string = "https://example.com/";
const image: string = "https://example.com/img/ogp.png";
const type: string = "website";
---

<Layout description={description} url={url} image={image} type={type}>
  <main class="pt-6 pb-16 bg-white">
    <div class="max-w-7xl mx-auto px-4">
      <div class="border-b border-gray-100 pb-2">
        <h2 class="text-lg font-bold sm:text-xl">新着記事</h2>
      </div>
      <div class="mt-6">
        <ul class="list-disc list-outside ml-4 space-y-4">
          {
            entries.items.map((item: any) => (
              <li>
                <a class="underline hover:text-red-800" href={`/articles/${item.basename}`}>
                  {item.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </main>
</Layout>
